{% extends 'base.html.twig' %}
{% block javascripts %}
    
{% endblock %}
{% block body %}
<section id="about-9" class="wide-60 about-section division">
    <div class="container">    
        <div class="row">

            <!-- ABOUT TEXT -->
            <div class="col-lg-8">
                <div class="about-9-txt mb-40 pr-15">

                    <!-- Title -->
                    <h3 class="h3-md">Visa d'Études pour le Canada</h3>

                    <!-- Text -->
                    <p>Le Canada est une destination prisée par les étudiants internationaux grâce à ses institutions éducatives de renommée mondiale, sa culture accueillante et ses paysages magnifiques. Pour étudier au Canada, les étudiants doivent obtenir un visa d'études, qui leur permet de résider temporairement dans le pays pendant la durée de leurs études.</p>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Obtenez une éducation de qualité dans des universités reconnues mondialement</li>
                        <li>Profitez d'un environnement multiculturel et accueillant</li>
                        <li>Accédez à des opportunités de recherche et de stage</li>
                        <li>Possibilité de travailler à temps partiel pendant vos études</li>
                    </ul>

                    <!-- Image -->
                   <div class="about-9-img mt-40 mb-40">
                    <img class="img-fluid" src="images/image-01.png" alt="about-image" />
                </div>

                    <!-- Text -->
                    <p>Pour obtenir un visa d'études, les étudiants doivent soumettre une demande en ligne ou sur papier, fournir les documents nécessaires et payer les frais de traitement. Il est important de planifier à l'avance et de s'assurer que tous les documents sont en ordre pour éviter les retards dans le traitement de la demande.</p>

                    <!-- Small Title -->
                    <h5 class="h5-md mt-25">Documents nécessaires pour la demande de visa d'études</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Preuve d'acceptation dans une institution canadienne</li>
                        <li>Preuve de ressources financières suffisantes</li>
                        <li>Certificat médical et examen de santé</li>
                        <li>Certificat de police</li>
                        <li>Preuve d'identité (passeport valide)</li>
                        <li>Lettre d'explication</li>
                    </ul>

                    <!-- Medium Title -->
                    <h4 class="h4-xs mt-30">Documents supplémentaires</h4>

                    <!-- Text -->
                    <p>En fonction de votre situation, des documents supplémentaires peuvent être requis. Voici quelques exemples :</p>

                    <!-- Small Title -->
                    <h5 class="h5-md">Si l'étudiant est employé :</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Lettre de l'employeur confirmant le congé pour études</li>
                        <li>Preuves de revenus</li>
                    </ul>

                    <!-- Small Title -->    
                    <h5 class="h5-md mt-25">Si l'étudiant a une famille au Canada :</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Preuves de liens familiaux</li>
                        <li>Lettre d'invitation de la famille</li>
                    </ul>

                    <!-- Small Title -->    
                    <h5 class="h5-md mt-25">Si l'étudiant est boursier :</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Lettre de l'organisme de bourse confirmant le financement</li>
                    </ul>

                    <!-- Small Title -->    
                    <h5 class="h5-md mt-25">Si l'étudiant prévoit de rester plus de 6 mois :</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Examen médical</li>
                        <li>Certificat de police</li>
                    </ul>

                </div>
            </div>  <!-- END ABOUT TEXT -->

            <!-- SIDEBAR -->
            <aside id="sidebar" class="col-lg-4">

                <!-- SIDEBAR COUNTRIES --> 
                <div class="sidebar-countries sidebar-div mb-50">
                        
                    <!-- Title -->
                    <h5 class="h5-lg">Pays Populaires: </h5>

                    <!-- List -->
                    <ul class="sidebar-country-list clearfix">

                        <li><a href="country-detail.html">
                            <img class="img-fluid" src="images/sidebar-canada.jpg" alt="sidebar-image" />Canada</a>
                        </li>

                       

                    </ul>

                </div>

            </aside>  <!-- END SIDEBAR -->

        </div>    <!-- End row -->
    </div>     <!-- End container -->
</section>

<section id="faqs-1" class="wide-100 faqs-section division">				
    <div class="container">

        <!-- SECTION TITLE -->
        <div class="row">	
            <div class="col-md-12 section-title center">		

                <!-- Title -->
                <h2 class="h2-xs">Des Questions? Trouvez les Réponses Ici</h2>

                <!-- Text -->	
                <p class="p-md">Nous répondons à vos questions concernant les études au Canada, y compris les visas, l'inscription, et bien plus encore.</p> 

            </div>
        </div>	 <!-- END SECTION TITLE -->	


        <!-- QUESTIONS HOLDER -->
        <div class="row">						
            <div class="col-lg-10 offset-lg-1">
                <div id="accordion" role="tablist">

                    <!-- QUESTION #1 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="h5-sm">
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                    <span>1.</span> Quels sont les modes de paiement acceptés ?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                                <!-- INFO BOX #1 -->
                                <div class="box-list">							
                                    <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                                    <p>Nous acceptons une variété de modes de paiement, y compris les cartes de crédit, PayPal, et les virements bancaires. Assurez-vous de vérifier les options disponibles lors de votre inscription.</p>							
                                </div>

                                <!-- INFO BOX #2 -->
                                <div class="box-list">	
                                    <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                                    <p>Pour les virements bancaires, veuillez vous assurer que tous les frais de transaction sont couverts pour éviter des retards dans le traitement de votre paiement.</p>				
                                </div>	

                            </div>
                        </div>

                    </div>	<!-- END QUESTION #1 -->

                    <!-- QUESTION #2 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>2.</span> Quel est le processus d'inscription ?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">

                                <p>Le processus d'inscription pour étudier au Canada comprend les étapes suivantes :</p>
                                <ul class="txt-list">
                                    <li>Choisissez votre programme d'études et votre institution.</li>
                                    <li>Soumettez votre demande d'admission avec les documents requis.</li>
                                    <li>Recevez votre lettre d'acceptation.</li>
                                    <li>Appliquez pour un permis d'études en ligne ou via un centre de demande de visa.</li>
                                    <li>Préparez votre arrivée au Canada en organisant votre logement et en planifiant votre voyage.</li>
                                </ul>

                            </div>
                        </div>

                    </div>	<!-- END QUESTION #2 -->

                    <!-- QUESTION #3 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    <span>3.</span> Comment puis-je mettre à jour ou annuler mes informations personnelles ?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p>Pour mettre à jour ou annuler vos informations personnelles, veuillez suivre les étapes suivantes :</p>
                                <ul class="txt-list">
                                    <li>Connectez-vous à votre compte étudiant sur le portail de l'institution.</li>
                                    <li>Accédez à la section "Profil" pour mettre à jour vos informations personnelles.</li>
                                    <li>Pour annuler vos informations ou votre inscription, contactez le bureau des admissions de l'institution.</li>
                                </ul>
                            </div>
                        </div>

                    </div>	  <!-- END QUESTION #3 -->

                    <!-- QUESTION #4 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">   		
                                    <span>4.</span> Votre cabinet d'immigration offre-t-il une garantie de remboursement ?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <p>Nous comprenons que les demandes de visa peuvent être stressantes. C'est pourquoi nous offrons une garantie de remboursement sous certaines conditions. Veuillez consulter notre politique de remboursement pour plus de détails.</p>   
                            </div>
                        </div>

                    </div>	  <!-- END QUESTION #4 -->

                    <!-- QUESTION #5 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFive">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">   		
                                    <span>5.</span> Combien de temps faut-il pour obtenir un visa d'études pour le Canada ?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">

                                <!-- INFO BOX #1 -->
                                <div class="box-list">							
                                    <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                                    <p>Le délai de traitement pour un visa d'études peut varier en fonction de votre pays de résidence. En général, il faut compter entre 4 et 8 semaines pour obtenir une réponse.</p>							
                                </div>
                                                    
                                <!-- INFO BOX #2 -->
                                <div class="box-list">							
                                    <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                                    <p>Nous recommandons de soumettre votre demande dès que vous recevez votre lettre d'acceptation afin de laisser suffisamment de temps pour le traitement de votre visa.</p>							
                                </div>	  

                            </div>
                        </div>

                    </div>	  <!-- END QUESTION #5 -->

                </div>	<!-- END ACCORDION -->
            </div>  <!-- End col-x -->	
        </div>	<!-- END QUESTIONS HOLDER -->


        

    </div>	   <!-- End container -->		
</section>


<section id="cta-4" class="bg-fixed cta-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">

            <!-- CALL TO ACTION TEXT -->
            <div class="col-md-8 col-lg-7 offset-md-4 offset-lg-5">
                <div class="cta-txt">

                    <!-- Title  -->
                    <h3 class="h3-xl">Consultations pour les futurs immigrants</h3>

                    <!-- Text -->
                    <p class="p-lg">Vous avez des questions sur le processus d'immigration ? Contactez-nous pour une consultation personnalisée et obtenez les réponses dont vous avez besoin pour réussir votre projet d'immigration.</p>

                    <!-- Button  -->
                    <a href="mailto:votremail@mail.com" class="btn btn-md btn-primary tra-white-hover btn-arrow">
                        <span>Obtenir une Consultation <i class="fas fa-arrow-right"></i></span>
                    </a>

                </div>	
            </div>

        </div>	  <!-- End row -->
    </div>	   <!-- End container -->
</section>


{% endblock %}
