{% extends 'base.html.twig' %}
{% block javascripts %}
    
{% endblock %}
{% block body %}
<section id="about-9" class="wide-60 about-section division">
    <div class="container">
        <div class="row">

            <!-- ABOUT TEXT -->
            <div class="col-lg-8">
                <div class="about-9-txt mb-40 pr-15">

                    <!-- Title -->
                    <h3 class="h3-md">Immigration au Canada</h3>

                    <!-- Text -->
                    <p>Le Canada est une destination prisée pour les immigrants du monde entier. Avec ses politiques d'immigration ouvertes et ses nombreuses opportunités, le Canada accueille des milliers de nouveaux arrivants chaque année. Voici ce que vous devez savoir pour commencer votre parcours d'immigration.</p>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Programmes d'immigration économique</li>
                        <li>Réunification familiale</li>
                        <li>Programme des candidats des provinces</li>
                        <li>Visa de résidence permanente</li>
                    </ul>

                    <!-- Image -->
                     <div class="about-9-img mt-40 mb-40">
                    <img class="img-fluid" src="images/image-01.png" alt="about-image" />
                </div>

                    <!-- Text -->
                    <p>Le Canada offre un environnement sûr, des services de santé de haute qualité et un système éducatif exceptionnel, faisant de ce pays une destination idéale pour les familles et les professionnels. Profitez d'un niveau de vie élevé et de perspectives de carrière enrichissantes.</p>

                    <!-- Small Title -->
                    <h5 class="h5-md mt-25">Documents requis pour la demande d'immigration</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Formulaire de demande d'immigration rempli</li>
                        <li>Preuve de fonds suffisants</li>
                        <li>Documents d'identité valides</li>
                        <li>Certificat de police</li>
                        <li>Résultats des examens médicaux</li>
                    </ul>

                    <!-- Medium Title -->
                    <h4 class="h4-xs mt-30">Documents supplémentaires</h4>

                    <!-- Text -->
                    <p>En fonction de votre catégorie d'immigration, des documents supplémentaires peuvent être requis pour votre demande de résidence permanente au Canada.</p>

                    <!-- Small Title -->
                    <h5 class="h5-md">Si le demandeur est employé :</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Lettre de l'employeur</li>
                        <li>Contrat de travail</li>
                        <li>Relevés de paie récents</li>
                    </ul>

                    <!-- Small Title -->
                    <h5 class="h5-md mt-25">Si le demandeur a une famille au Canada :</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Preuve de lien familial</li>
                        <li>Lettre d'invitation de la famille</li>
                    </ul>

                    <!-- Small Title -->
                    <h5 class="h5-md mt-25">Si le demandeur est un entrepreneur ou investisseur :</h5>

                    <!-- List -->
                    <ul class="txt-list">
                        <li>Plan d'affaires détaillé</li>
                        <li>Preuve de fonds d'investissement</li>
                        <li>Documents de propriété d'entreprise</li>
                    </ul>

                </div>
            </div> <!-- END ABOUT TEXT -->

            <!-- SIDEBAR -->
            <aside id="sidebar" class="col-lg-4">

                <!-- SIDEBAR COUNTRIES --> 
                <div class="sidebar-countries sidebar-div mb-50">
                    
                    <!-- Title -->
                    <h5 class="h5-lg">Pays populaires : </h5>

                    <!-- List -->
                    <ul class="sidebar-country-list clearfix">
                        <li><a href="country-detail.html">
                            <img class="img-fluid" src="images/sidebar-canada.jpg" alt="sidebar-image" />Canada</a>
                        </li>
                        
                    </ul>
                </div>
            </aside> <!-- END SIDEBAR -->
        </div> <!-- End row -->
    </div> <!-- End container -->
</section>

<section id="faqs-1" class="wide-100 faqs-section division">
    <div class="container">

        <!-- SECTION TITLE -->
        <div class="row">    
            <div class="col-md-12 section-title center">        

                <!-- Title -->
                <h2 class="h2-xs">Des questions? Consultez ici</h2>

                <!-- Text -->    
                <p class="p-md">Trouvez des réponses aux questions fréquemment posées sur le processus d'immigration au Canada.</p> 

            </div>
        </div> <!-- END SECTION TITLE -->    

        <!-- QUESTIONS HOLDER -->
        <div class="row">                        
            <div class="col-lg-10 offset-lg-1">
                <div id="accordion" role="tablist">

                    <!-- QUESTION #1 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="h5-sm">
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                    <span>1.</span> Quels sont les modes de paiement acceptés?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>Nous acceptons une variété de modes de paiement, y compris les cartes de crédit, les virements bancaires et PayPal. Les détails spécifiques seront fournis lors de votre consultation initiale.</p>                           
                            </div>
                        </div>
                    </div> <!-- END QUESTION #1 -->

                    <!-- QUESTION #2 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>2.</span> Quel est le processus d'inscription pour l'immigration?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>Le processus d'inscription commence par une évaluation initiale de votre éligibilité. Ensuite, vous devrez remplir le formulaire de demande, fournir tous les documents requis, et passer une évaluation préliminaire. Une fois acceptée, votre demande complète sera soumise aux autorités canadiennes.</p>
                            </div>
                        </div>
                    </div> <!-- END QUESTION #2 -->

                    <!-- QUESTION #3 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    <span>3.</span> Comment puis-je mettre à jour ou annuler mes informations personnelles?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p>Pour mettre à jour ou annuler vos informations personnelles, veuillez contacter notre service clientèle. Vous devrez fournir une preuve d'identité et les informations spécifiques que vous souhaitez mettre à jour ou annuler. Nos agents vous guideront tout au long du processus.</p>                            
                            </div>
                        </div>
                    </div> <!-- END QUESTION #3 -->

                    <!-- QUESTION #4 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">        
                                    <span>4.</span> Votre cabinet d'immigration offre-t-il une garantie de remboursement?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <p>Oui, nous offrons une garantie de remboursement sous certaines conditions. Si votre demande est refusée en raison d'une erreur de notre part, nous vous rembourserons les frais de service payés. Pour plus de détails, veuillez consulter nos termes et conditions ou contacter notre service clientèle.</p>
                            </div>
                        </div>
                    </div> <!-- END QUESTION #4 -->

                    <!-- QUESTION #5 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFive">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">        
                                    <span>5.</span> Combien de temps faut-il pour obtenir une résidence permanente au Canada?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <p>Le temps nécessaire pour obtenir une résidence permanente au Canada varie en fonction de la catégorie d'immigration, du volume des demandes et de la complexité de votre dossier. En général, le processus peut prendre de 6 mois à 2 ans. Pour des délais plus précis, veuillez consulter notre équipe d'experts.</p>
                            </div>
                        </div>
                    </div> <!-- END QUESTION #5 -->

                </div> <!-- END ACCORDION -->
            </div> <!-- End col-x -->    
        </div> <!-- END QUESTIONS HOLDER -->

        <!-- MORE QUESTIONS BUTTON -->        
        

    </div> <!-- End container -->
</section>


<section id="cta-4" class="bg-fixed cta-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">

            <!-- CALL TO ACTION TEXT -->
            <div class="col-md-8 col-lg-7 offset-md-4 offset-lg-5">
                <div class="cta-txt">

                    <!-- Title  -->
                    <h3 class="h3-xl">Consultations pour prospective immigrants</h3>

                    <!-- Text -->
                    <p class="p-lg">Commencez votre voyage vers une nouvelle vie au Canada. Nos experts en immigration sont là pour vous aider à chaque étape du processus.</p>

                    <!-- Button  -->
                    <a href="mailto:youremail@mail.com" class="btn btn-md btn-primary tra-white-hover btn-arrow">
                        <span>Obtenez une consultation <i class="fas fa-arrow-right"></i></span>
                    </a>

                </div>    
            </div>

        </div> <!-- End row -->
    </div> <!-- End container -->
</section>

{% endblock %}
