{% extends 'base.html.twig' %}
{% block javascripts %}
    
{% endblock %}
{% block body %}
<section id="about-9" class="wide-60 about-section division">
    <div class="container">
        <div class="row">
        <!-- ABOUT TEXT -->
        <div class="col-lg-8">
            <div class="about-9-txt mb-40 pr-15">
            <!-- Title -->
            <h3 class="h3-md">Travail au Canada</h3>

            <!-- Text -->
            <p>Le Canada est non seulement une destination attrayante pour les visiteurs, mais aussi pour ceux qui cherchent des opportunités de travail. Avec son économie dynamique et ses politiques d'immigration favorables, le Canada attire de nombreux travailleurs étrangers chaque année. Voici ce que vous devez savoir pour travailler au Canada.</p>

            <!-- List -->
            <ul class="txt-list">
                <li>Processus de demande de permis de travail</li>
                <li>Exigences de documentation</li>
                <li>Droits et responsabilités des travailleurs étrangers</li>
                <li>Renouvellement du permis de travail</li>
            </ul>

            <!-- Image -->
           <div class="about-9-img mt-40 mb-40">
                    <img class="img-fluid" src="images/image-01.png" alt="about-image" />
                </div>

            <!-- Text -->
            <p>Profitez des opportunités professionnelles et de la qualité de vie exceptionnelle qu'offre le Canada. Découvrez pourquoi de nombreux travailleurs étrangers choisissent de faire carrière au Canada.</p>

            <!-- Small Title -->
            <h5 class="h5-md mt-25">Documents requis pour la demande de permis de travail</h5>

            <!-- List -->
            <ul class="txt-list">
                <li>Formulaire de demande de permis de travail rempli</li>
                <li>Offre d'emploi d'un employeur canadien</li>
                <li>Preuve de compétences et d'éducation</li>
                <li>Preuve de fonds suffisants pour subvenir à vos besoins</li>
            </ul>

            <!-- Medium Title -->
            <h4 class="h4-xs mt-30">Documents supplémentaires</h4>

            <!-- Text -->
            <p>En fonction du type de travail et de la durée de votre séjour prévu au Canada, d'autres documents pourraient être nécessaires pour votre demande de permis de travail.</p>

            <!-- Small Title -->
            <h5 class="h5-md">Si le demandeur prévoit de travailler pour une entreprise canadienne :</h5>

            <!-- List -->
            <ul class="txt-list">
                <li>Lettre d'offre d'emploi détaillée</li>
                <li>Contrat de travail</li>
                <li>Preuve de conformité aux normes de travail canadiennes</li>
            </ul>

            <!-- Small Title -->
            <h5 class="h5-md mt-25">Si le demandeur prévoit de travailler en tant que travailleur indépendant :</h5>

            <!-- List -->
            <ul class="txt-list">
                <li>Plan d'affaires détaillé</li>
                <li>Preuve de fonds d'investissement</li>
                <li>Documents de propriété d'entreprise</li>
            </ul>

        </div>
    </div> <!-- END ABOUT TEXT -->

    <!-- SIDEBAR -->
    <aside id="sidebar" class="col-lg-4">

        <!-- SIDEBAR COUNTRIES --> 
        <div class="sidebar-countries sidebar-div mb-50">
            
            <!-- Title -->
            <h5 class="h5-lg">Pays populaires : </h5>

            <!-- List -->
            <ul class="sidebar-country-list clearfix">
                <li><a href="country-detail.html">
                    <img class="img-fluid" src="images/sidebar-canada.jpg" alt="sidebar-image" />Canada</a>
                </li>
                
            </ul>
        </div>
    </aside> <!-- END SIDEBAR -->
</div> <!-- End row -->
</div> <!-- End container -->
</section>
<section id="faqs-1" class="wide-100 faqs-section division">
    <div class="container">
        <!-- SECTION TITLE -->
    <div class="row">    
        <div class="col-md-12 section-title center">        

            <!-- Title -->
            <h2 class="h2-xs">Des questions? Consultez ici</h2>

            <!-- Text -->    
            <p class="p-md">Trouvez des réponses aux questions fréquemment posées sur le processus de demande de travail au Canada.</p> 

        </div>
    </div> <!-- END SECTION TITLE -->    

    <!-- QUESTIONS HOLDER -->
    <div class="row">                        
        <div class="col-lg-10 offset-lg-1">
            <div id="accordion" role="tablist">

                <!-- QUESTION #1 -->
                <div class="card">

                    <!-- Question -->
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="h5-sm">
                            <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                <span>1.</span> Quels sont les documents nécessaires pour la demande de permis de travail?
                            </a>
                        </h5>
                    </div>

                    <!-- Answer -->
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Les documents requis pour la demande de permis de travail dépendent du type de travail et de la durée du séjour prévu. Cependant, en général, vous devrez fournir votre passeport, une offre d'emploi d'un employeur canadien, des preuves de compétences et d'éducation, ainsi que des preuves de fonds suffisants pour subvenir à vos besoins.</p>                           
                        </div>
                    </div>
                </div> <!-- END QUESTION #1 -->

                <!-- QUESTION #2 -->
                <div class="card">

                    <!-- Question -->
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="h5-sm">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                <span>2.</span> Quel est le processus de demande de permis de travail au Canada?
                            </a>
                        </h5>
                    </div>

                    <!-- Answer -->
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>Le processus de demande de permis de travail commence par la soumission d'une demande en ligne. Vous devrez fournir les documents requis, remplir le formulaire de demande et payer les frais de traitement. Une fois votre demande soumise, elle sera examinée par les autorités d'immigration canadiennes.</p>
                        </div>
                    </div>
                </div> <!-- END QUESTION #2 -->

                <!-- QUESTION #3 -->
                <div class="card">

                    <!-- Question -->
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="h5-sm">
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                <span>3.</span> Quelles sont les options de permis de travail disponibles au Canada?
                            </a>
                        </h5>
                    </div>

                    <!-- Answer -->
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>Le Canada offre plusieurs options de permis de travail, y compris le permis de travail standard, le permis de travail ouvert et le permis de travail pour les étudiants. Chaque type de permis a ses propres critères d'admissibilité et conditions.</p>                            
                        </div>
                    </div>
                </div> <!-- END QUESTION #3 -->

                <!-- QUESTION #4 -->
                <div class="card">

                    <!-- Question -->
                    <div class="card-header" role="tab" id="headingFour">
                        <h5 class="h5-sm">
                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">        
                                <span>4.</span> Quelle est la durée de validité d'un permis de travail au Canada?
                            </a>
                        </h5>
                    </div>

                    <!-- Answer -->
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <p>La durée de validité d'un permis de travail au Canada varie en fonction du type de permis et des circonstances individuelles. Les permis de travail peuvent être valides pendant quelques mois à plusieurs années. Vous pouvez vérifier la durée de validité spécifique de votre permis sur celui-ci.</p>
                        </div>
                    </div>
                </div> <!-- END QUESTION #4 -->

                <!-- QUESTION #5 -->
                <div class="card">

                    <!-- Question -->
                    <div class="card-header" role="tab" id="headingFive">
                        <h5 class="h5-sm">
                            <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">        
                                <span>5.</span> Puis-je changer d'employeur avec mon permis de travail?
                            </a>
                        </h5>
                    </div>

                    <!-- Answer -->
                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <p>En général, vous ne pouvez pas changer d'employeur avec un permis de travail spécifique à un employeur. Si vous souhaitez changer d'emploi, vous devrez obtenir un nouveau permis de travail pour votre nouvel employeur. Cependant, il existe des exceptions à cette règle, comme le permis de travail ouvert, qui vous permet de travailler pour n'importe quel employeur au Canada.</p>
                        </div>
                    </div>
                </div> <!-- END QUESTION #5 -->

            </div> <!-- END ACCORDION -->
        </div> <!-- End col-x -->    
    </div> <!-- END QUESTIONS HOLDER -->

    <!-- MORE QUESTIONS BUTTON -->        
    

</div> <!-- End container -->
</section>
<section id="cta-4" class="bg-fixed cta-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">
                <!-- CALL TO ACTION TEXT -->
        <div class="col-md-8 col-lg-7 offset-md-4 offset-lg-5">
            <div class="cta-txt">

                <!-- Title  -->
                <h3 class="h3-xl">Consultations pour travail au Canada</h3>

                <!-- Text -->
                <p class="p-lg">Commencez votre parcours professionnel avec une consultation personnalisée pour votre demande de travail au Canada. Nos experts sont là pour vous guider à chaque étape du processus.</p>

                <!-- Button  -->
                <a href="mailto:youremail@mail.com" class="btn btn-md btn-primary tra-white-hover btn-arrow">
                    <span>Obtenez une consultation <i class="fas fa-arrow-right"></i></span>
                </a>

            </div>    
        </div>

    </div> <!-- End row -->
</div> <!-- End container -->
</section>
{% endblock %}
