{% extends 'base.html.twig' %}
{% block javascripts %}
    
{% endblock %}
{% block body %}
<section id="about-9" class="wide-60 about-section division">
    <div class="container">
        <div class="row">
        <!-- ABOUT TEXT -->
        <div class="col-lg-8">
            <div class="about-9-txt mb-40 pr-15">

                <!-- Title -->
                <h3 class="h3-md">Visa de visiteur au Canada</h3>

                <!-- Text -->
                <p>Le Canada est une destination prisée pour les visiteurs du monde entier. Avec ses politiques d'immigration ouvertes et ses nombreuses opportunités touristiques, le Canada accueille des milliers de visiteurs chaque année. Voici ce que vous devez savoir pour obtenir un visa de visiteur.</p>

                <!-- List -->
                <ul class="txt-list">
                    <li>Processus de demande de visa de visiteur</li>
                    <li>Exigences de documentation</li>
                    <li>Durée de séjour autorisée</li>
                    <li>Renouvellement de visa de visiteur</li>
                </ul>

                <!-- Image -->
                <div class="about-9-img mt-40 mb-40">
                    <img class="img-fluid" src="images/image-01.png" alt="about-image" />
                </div>

                <!-- Text -->
                <p>Profitez d'un séjour agréable au Canada en explorant ses paysages magnifiques, sa riche culture et ses attractions touristiques. Découvrez pourquoi le Canada est une destination incontournable pour les voyageurs du monde entier.</p>

                <!-- Small Title -->
                <h5 class="h5-md mt-25">Documents requis pour la demande de visa de visiteur</h5>

                <!-- List -->
                <ul class="txt-list">
                    <li>Formulaire de demande de visa rempli</li>
                    <li>Preuve de fonds suffisants pour le séjour</li>
                    <li>Documents d'identité valides</li>
                    <li>Preuve de réservation de billet de retour</li>
                </ul>

                <!-- Medium Title -->
                <h4 class="h4-xs mt-30">Documents supplémentaires</h4>

                <!-- Text -->
                <p>En fonction de la durée et de la nature de votre séjour prévu au Canada, des documents supplémentaires peuvent être nécessaires pour votre demande de visa de visiteur.</p>

                <!-- Small Title -->
                <h5 class="h5-md">Si le demandeur prévoit de rester chez des proches :</h5>

                <!-- List -->
                <ul class="txt-list">
                    <li>Lettre d'invitation de la famille ou de l'hôte</li>
                    <li>Preuve de lien familial ou d'hébergement</li>
                </ul>

                <!-- Small Title -->
                <h5 class="h5-md mt-25">Si le demandeur prévoit de visiter pour des raisons touristiques :</h5>

                <!-- List -->
                <ul class="txt-list">
                    <li>Itinéraire de voyage détaillé</li>
                    <li>Réservations d'hôtel ou d'hébergement</li>
                    <li>Preuve de participation à des activités touristiques</li>
                </ul>

                <!-- Small Title -->
                <h5 class="h5-md mt-25">Si le demandeur prévoit de visiter pour affaires :</h5>

                <!-- List -->
                <ul class="txt-list">
                    <li>Lettre d'invitation d'une entreprise canadienne</li>
                    <li>Preuve de participation à des réunions ou des conférences</li>
                </ul>

            </div>
        </div> <!-- END ABOUT TEXT -->

        <!-- SIDEBAR -->
        <aside id="sidebar" class="col-lg-4">

            <!-- SIDEBAR COUNTRIES --> 
            <div class="sidebar-countries sidebar-div mb-50">
                
                <!-- Title -->
                <h5 class="h5-lg">Pays populaires : </h5>

                <!-- List -->
                <ul class="sidebar-country-list clearfix">
                    <li><a href="country-detail.html">
                        <img class="img-fluid" src="images/sidebar-canada.jpg" alt="sidebar-image" />Canada</a>
                    </li>
                    
                </ul>
            </div>
        </aside> <!-- END SIDEBAR -->
    </div> <!-- End row -->
</div> <!-- End container -->
</section>

<section id="faqs-1" class="wide-100 faqs-section division">
    <div class="container">

        <!-- SECTION TITLE -->
        <div class="row">    
            <div class="col-md-12 section-title center">        

                <!-- Title -->
                <h2 class="h2-xs">Des questions? Consultez ici</h2>

                <!-- Text -->    
                <p class="p-md">Trouvez des réponses aux questions fréquemment posées sur le processus de demande de visa de visiteur.</p> 

            </div>
        </div> <!-- END SECTION TITLE -->    

        <!-- QUESTIONS HOLDER -->
        <div class="row">                        
            <div class="col-lg-10 offset-lg-1">
                <div id="accordion" role="tablist">

                    <!-- QUESTION #1 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="h5-sm">
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                    <span>1.</span> Quels sont les modes de paiement acceptés pour les frais de visa?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>Nous acceptons diverses méthodes de paiement pour les frais de visa, y compris les cartes de crédit, les virements bancaires et PayPal. Les informations spécifiques seront fournies lors de votre demande de visa.</p>                           
                            </div>
                        </div>
                    </div> <!-- END QUESTION #1 -->

                    <!-- QUESTION #2 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>2.</span> Quel est le processus de demande de visa de visiteur?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>Le processus de demande de visa de visiteur commence par la soumission d'un formulaire en ligne. Vous devrez fournir des documents tels que votre passeport, des photos, une preuve de fonds et un itinéraire de voyage. Une fois votre demande soumise, elle sera examinée par les autorités compétentes.</p>
                            </div>
                        </div>
                    </div> <!-- END QUESTION #2 -->

                    <!-- QUESTION #3 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    <span>3.</span> Comment puis-je mettre à jour ou annuler ma demande de visa?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p>Pour mettre à jour ou annuler votre demande de visa, veuillez contacter le centre de demande de visa ou le consulat le plus proche. Vous devrez fournir votre numéro de demande et les informations spécifiques que vous souhaitez mettre à jour ou annuler.</p>                            
                            </div>
                        </div>
                    </div> <!-- END QUESTION #3 -->

                    <!-- QUESTION #4 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">        
                                    <span>4.</span> Votre service de demande de visa offre-t-il une garantie de remboursement?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <p>Oui, nous offrons une garantie de remboursement sous certaines conditions. Si votre demande de visa est refusée en raison d'une erreur de notre part, nous vous rembourserons les frais de service payés. Pour plus de détails, veuillez consulter nos termes et conditions ou contacter notre service clientèle.</p>
                            </div>
                        </div>
                    </div> <!-- END QUESTION #4 -->

                    <!-- QUESTION #5 -->
                    <div class="card">

                        <!-- Question -->
                        <div class="card-header" role="tab" id="headingFive">
                            <h5 class="h5-sm">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">        
                                    <span>5.</span> Combien de temps faut-il pour obtenir un visa de visiteur?
                                </a>
                            </h5>
                        </div>

                        <!-- Answer -->
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <p>Le délai pour obtenir un visa de visiteur varie selon votre pays de résidence et le volume de demandes. En général, cela peut prendre de quelques semaines à plusieurs mois. Pour des délais plus précis, veuillez consulter notre équipe d'experts.</p>
                            </div>
                        </div>
                    </div> <!-- END QUESTION #5 -->

                </div> <!-- END ACCORDION -->
            </div> <!-- End col-x -->    
        </div> <!-- END QUESTIONS HOLDER -->

        <!-- MORE QUESTIONS BUTTON -->        
        

    </div> <!-- End container -->
</section>
<section id="cta-4" class="bg-fixed cta-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">

            <!-- CALL TO ACTION TEXT -->
            <div class="col-md-8 col-lg-7 offset-md-4 offset-lg-5">
                <div class="cta-txt">

                    <!-- Title  -->
                    <h3 class="h3-xl">Consultations pour visa de visiteur</h3>

                    <!-- Text -->
                    <p class="p-lg">Commencez votre voyage avec une consultation personnalisée pour votre demande de visa de visiteur. Nos experts sont prêts à vous aider à chaque étape.</p>

                    <!-- Button  -->
                    <a href="mailto:youremail@mail.com" class="btn btn-md btn-primary tra-white-hover btn-arrow">
                        <span>Obtenez une consultation <i class="fas fa-arrow-right"></i></span>
                    </a>

                </div>    
            </div>

        </div> <!-- End row -->
    </div> <!-- End container -->
</section>


{% endblock %}
